html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*!
 * McGriddle
 * @description
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/mcgriddle
 * @link https://github.com/jonsuh/mcgriddle
 */
h1 {
  font-family: sans-serif; }

h2 {
  color: black; }

body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  body:after {
    display: none; }

header {
  width: 100%;
  background: #434a54;
  margin: 0; }

nav {
  width: 100%;
  margin: 0; }

#topBar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  max-width: 64em;
  color: white;
  height: 2rem;
  padding-top: 1rem;
  font-family: "Lato", Helvetica, "Helvetica Neue", Calibri, sans-serif; }
  #topBar:after {
    display: none; }

#topBarLeft {
  width: 50%; }

#topBarRight {
  width: 50%;
  text-align: right; }

#topBarRight p, a {
  display: inline; }

#topBar a {
  text-decoration: none;
  color: white; }

#navBar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  max-width: 64em;
  width: 100%; }
  #navBar:after {
    display: none; }

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 75%; }

nav ul a {
  text-transform: uppercase;
  font-family: "Lato", Helvetica, "Helvetica Neue", Calibri, sans-serif;
  color: #009bde;
  font-weight: 700;
  font-size: 1.1rem; }

nav a.logo {
  background: url(/assets/images/logo-vivid.png) no-repeat 0 100%;
  background-size: contain;
  width: 36px;
  height: 40px;
  overflow: hidden;
  display: inline-block; }
