// styles.scss
@import 'mixins/reset.scss';
@import 'mixins/mixins.scss';


// variables
$blue: #009bde;
$orange: #ff9e16;
$grayBlue: #434a54;

h1{
  font-family: sans-serif;
}
h2{
  color: black;
}
body{
  @include container(false);
}
header{
  @include columns(12);
  background: $grayBlue;
  margin: 0;
}
#topBar{
  @include container;
  //@include columns(12);
  background-color: $orange;
  color: white;

}
